{%extends 'base.html'%}
{%block content%}
<style>
    .flashcard {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .word-button {
        display: flex;
        justify-content: center;
        align-items: start;
    }

    .before-word input,
    .after-word input {
        border: solid;
        border-radius: 13px;
        height: 150px;
        width: 300px;
        text-align: center;
        margin: 5px;
    }

    .option-buttons {
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }

    .single-button input {
        border: solid;
        border-radius: 3px;
        height: 50px;
        width: 120px;
        text-align: center;
        margin: 5px;

    }

    .single-button input:hover {
        background-color: white;
    }
</style>
<div class="container">
    <div class="flashcard">
        {%if q%}
        <a>Hello World!</a>
        {%endif%}
        <div class="word-button">

            {% for word in words%}
            <a class="before-word"><input type="button" value="{{ word.word }}"></a>
            <a class="after-word"><input type="button" value="{{ word.translated_word }}"></a>


            {% endfor%}
        </div>
        <form class="option-buttons" method="POST" action="">
            <a class="single-button"><input type="button" name='q' value="I don't know"></a>
            <a class="single-button"><input type="button" value="I know"></a>
            <a class="single-button"><input type="button" value="Almost"></a>
        </form>
    </div>
</div>


{%endblock%}